.container {
  position: absolute;
  left: 10px;
  right: 10px;
  top: 10px;
  bottom: 10px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.logo {
  overflow: auto;
}

.logo img {
  width: 10vh;
  float: left;
}

.columns {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.columnLeft {
  flex: 2;
  padding-right: 10px;
  height: 100%;
}

.columnRight {
  flex: 3;
  padding-left: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.section {
  padding-bottom: 10px;
}

.row {
  margin-top: 5px;
  display: flex;
}

.field {
  width: 10em;
}

.value {
  flex: 1;
  display: flex;
}

.input {
  flex: 1;
}

.inputNarrow {
  width: 10em;
}

.dirSelect {
  background-image: url('../../../resources/icons/Folder.png');
  background-color: khaki;
  background-repeat: no-repeat;
  background-position: 0 0;
  border: none;
  cursor: pointer;
  height: 20px;
  padding-left: 15px;
}

.preview {
  height: 400px;
  background-color: #ccc;
  margin-top: 10px;
  margin-bottom: 10px;
}

.button {
  display: flex;
  justify-content: center;
}

.programNames {
  flex: 1;
  display: flex;
}

.programText {
  margin-top: 5px;
  display: flex;
  height: 100%;
}

.programTextArea {
  width: 100%;
  resize: none;
}
